# Token du bot (Discord Developer Portal > Bot > Token)
DISCORD_TOKEN=ton_token_ici

# ID de l'application (Discord Developer Portal > General Information > Application ID)
DISCORD_CLIENT_ID=ton_client_id_ici

# ID du serveur Discord (clic droit sur le serveur > Copier l'identifiant)
GUILD_ID=ton_guild_id_ici
